@import "swiper.min";

.swiper {
  width: 100%;
  height: 100%; /* 必要に応じて高さを設定 */
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%; /* 1スライドの幅を指定 */
  text-align: center;
}